In [119]:
import pandas as pd
import requests
from bs4 import BeautifulSoup, Tag, NavigableString

# formatting 
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 5000)

In [2]:
url = "https://www.basketball-reference.com/players/h/hardeja01.html"

In [3]:
r = requests.get(url)

In [12]:
soup = BeautifulSoup(r.text, 'lxml')

In [ ]:
data types
float, int, str, bool, complex, 

list, set, tuple, dict #dictionary closest JSON 

list []
tuple ()
dict {}

In [20]:
a = [1, 2, 3]
b = [4, 5, 6]

In [21]:
a

[1, 2, 3]

In [22]:
b

[4, 5, 6]

In [23]:
a.append(b)

In [24]:
a

[1, 2, 3, [4, 5, 6]]

In [25]:
len(a)

4

In [26]:
a = [1, 2, 3]

a.extend(b)

In [27]:
a

[1, 2, 3, 4, 5, 6]

In [28]:
len(a)

6

In [29]:
a.pop(3) # 0, 1, 2, 3

4

In [30]:
a

[1, 2, 3, 5, 6]

In [45]:
a = "Harry &Giles &!"

In [46]:
a

'Harry &Giles &!'

In [49]:
new_a = a.replace('&','Greg')

In [53]:
new_a.replace('Greg', '').replace('!','').strip()

'Harry Giles'

In [54]:
s = "Luka Dončić"

In [56]:
s.find('č')

8

In [57]:
s.split('č')

['Luka Don', 'ić']

In [58]:
s.replace('č', 'c')

'Luka Doncić'

In [39]:
first_name, last_name = a.lower().split(' ')

In [40]:
first_name

'harry'

In [41]:
last_name

'giles'

In [35]:
a.upper()

'HARRY GILES'

In [42]:
a.lower().strip

'Harry Giles'

In [ ]:
header.

In [19]:
header = []
for i in soup.find('table', {'id': 'per_game'}).find('thead').find('tr').find_all('th'):
    print(i.text)
    header.append(i.text.replace('%','_pct').lower())

Season
Age
Tm
Lg
Pos
G
GS
MP
FG
FGA
FG%
3P
3PA
3P%
2P
2PA
2P%
eFG%
FT
FTA
FT%
ORB
DRB
TRB
AST
STL
BLK
TOV
PF
PTS

In [36]:
header

['season',
 'age',
 'tm',
 'lg',
 'pos',
 'g',
 'gs',
 'mp',
 'fg',
 'fga',
 'fg_pct',
 '3p',
 '3pa',
 '3p_pct',
 '2p',
 '2pa',
 '2p_pct',
 'efg_pct',
 'ft',
 'fta',
 'ft_pct',
 'orb',
 'drb',
 'trb',
 'ast',
 'stl',
 'blk',
 'tov',
 'pf',
 'pts']

In [74]:
b

[4, 5, 6]

In [78]:
for item in b:
    print(item)

4
5
6

In [79]:
table = soup.find('table').find('tbody').find_all('tr')

3 ways to iterate on data in data structures
- for
- do while
- vectorized # numpy

In [87]:
player_data = []
for item in soup.find('table').find('tbody').find_all('tr'):
    row_data = []
    for row in item.children:
        # print(row.text)
        row_data.append(row.text)
    player_data.append(row_data)

In [91]:
type(player_data[0])

list

In [92]:
type(player_data)

list

In [94]:
type(player_data[0][0])

str

In [95]:
len(header)

30

In [97]:
len(player_data[0])

30

In [101]:
player_card = []
for i in soup.find('table', {'id': 'per_game'}).find('tbody').find_all('tr'):
    season = []
    for j in i.children: # children gets all element tags in the 'i' object
        # print(j.text)
        season.append(j.text)
    player_card.append(season)

In [31]:
len(player_card[0])

30

In [103]:
df = pd.DataFrame(player_card, columns=header)

In [105]:
df.insert(2, 'player_name', 'James Harden')

In [107]:
df.to_csv('hardeja01.csv', index=False)

In [108]:
ls

LICENSE*              Scraping-bbref.ipynb* hardeja01.csv
README.md*            beginning-python/

In [109]:
cat hardeja01.csv

season,age,player_name,tm,lg,pos,g,gs,mp,fg,fga,fg_pct,3p,3pa,3p_pct,2p,2pa,2p_pct,efg_pct,ft,fta,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
2009-10,20,James Harden,OKC,NBA,SG,76,0,22.9,3.1,7.6,.403,1.2,3.3,.375,1.8,4.3,.424,.484,2.6,3.2,.808,0.6,2.6,3.2,1.8,1.1,0.3,1.4,2.6,9.9
2010-11,21,James Harden,OKC,NBA,SG,82,5,26.7,3.6,8.3,.436,1.4,4.0,.349,2.3,4.4,.514,.518,3.5,4.2,.843,0.5,2.6,3.1,2.1,1.1,0.3,1.3,2.5,12.2
2011-12,22,James Harden,OKC,NBA,SG,62,2,31.4,5.0,10.1,.491,1.8,4.7,.390,3.1,5.4,.579,.582,5.0,6.0,.846,0.5,3.6,4.1,3.7,1.0,0.2,2.2,2.4,16.8
2012-13,23,James Harden,HOU,NBA,SG,78,78,38.3,7.5,17.1,.438,2.3,6.2,.368,5.2,10.9,.477,.504,8.6,10.2,.851,0.8,4.1,4.9,5.8,1.8,0.5,3.8,2.3,25.9
2013-14,24,James Harden,HOU,NBA,SG,73,73,38.0,7.5,16.5,.456,2.4,6.6,.366,5.1,9.9,.515,.529,7.9,9.1,.866,0.8,3.9,4.7,6.1,1.6,0.4,3.6,2.4,25.4
2014-15,25,James Harden,HOU,NBA,SG,81,81,36.8,8.0,18.1,.440,2.6,6.9,.375,5.4,11.3,.480,.511,8.8,10.2,.868,0.9,4.7,5.7,7.0,1.9,0.7,4.0,2.6,27.4
2015-16,26,James Harden,HOU,NBA,SG,82,82,38.1,8.7,19.7,.439,2.9,8.0,.359,5.8,11.7,.494,.512,8.8,10.2,.860,0.8,5.3,6.1,7.5,1.7,0.6,4.6,2.8,29.0
2016-17,27,James Harden,HOU,NBA,PG,81,81,36.4,8.3,18.9,.440,3.2,9.3,.347,5.1,9.6,.530,.525,9.2,10.9,.847,1.2,7.0,8.1,11.2,1.5,0.5,5.7,2.7,29.1
2017-18,28,James Harden,HOU,NBA,SG,72,72,35.4,9.0,20.1,.449,3.7,10.0,.367,5.4,10.1,.531,.541,8.7,10.1,.858,0.6,4.8,5.4,8.8,1.8,0.7,4.4,2.3,30.4
2018-19,29,James Harden,HOU,NBA,PG,78,78,36.8,10.8,24.5,.442,4.8,13.2,.368,6.0,11.3,.528,.541,9.7,11.0,.879,0.8,5.8,6.6,7.5,2.0,0.7,5.0,3.1,36.1
2019-20,30,James Harden,HOU,NBA,SG,31,31,37.6,11.1,24.5,.452,5.1,13.8,.372,5.9,10.7,.554,.557,10.9,12.4,.875,1.0,4.8,5.8,7.5,1.9,0.7,4.7,3.4,38.1

In [110]:
df = pd.read_clipboard()

In [111]:
df

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,20,OKC,NBA,SG,76,0,22.9,3.1,7.6,...,0.808,0.6,2.6,3.2,1.8,1.1,0.3,1.4,2.6,9.9
1,2010-11,21,OKC,NBA,SG,82,5,26.7,3.6,8.3,...,0.843,0.5,2.6,3.1,2.1,1.1,0.3,1.3,2.5,12.2
2,2011-12,22,OKC,NBA,SG,62,2,31.4,5.0,10.1,...,0.846,0.5,3.6,4.1,3.7,1.0,0.2,2.2,2.4,16.8
3,2012-13,23,HOU,NBA,SG,78,78,38.3,7.5,17.1,...,0.851,0.8,4.1,4.9,5.8,1.8,0.5,3.8,2.3,25.9
4,2013-14,24,HOU,NBA,SG,73,73,38.0,7.5,16.5,...,0.866,0.8,3.9,4.7,6.1,1.6,0.4,3.6,2.4,25.4
5,2014-15,25,HOU,NBA,SG,81,81,36.8,8.0,18.1,...,0.868,0.9,4.7,5.7,7.0,1.9,0.7,4.0,2.6,27.4
6,2015-16,26,HOU,NBA,SG,82,82,38.1,8.7,19.7,...,0.860,0.8,5.3,6.1,7.5,1.7,0.6,4.6,2.8,29.0
7,2016-17,27,HOU,NBA,PG,81,81,36.4,8.3,18.9,...,0.847,1.2,7.0,8.1,11.2,1.5,0.5,5.7,2.7,29.1
8,2017-18,28,HOU,NBA,SG,72,72,35.4,9.0,20.1,...,0.858,0.6,4.8,5.4,8.8,1.8,0.7,4.4,2.3,30.4
9,2018-19,29,HOU,NBA,PG,78,78,36.8,10.8,24.5,...,0.879,0.8,5.8,6.6,7.5,2.0,0.7,5.0,3.1,36.1
10,2019-20,30,HOU,NBA,SG,31,31,37.6,11.1,24.5,...,0.875,1.0,4.8,5.8,7.5,1.9,0.7,4.7,3.4,38.1

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,...,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000,11.000000
mean,25.000000,72.363636,53.000000,34.400000,7.509091,16.854545,0.444182,2.854545,7.818182,0.366909,...,0.854636,0.772727,4.472727,5.245455,6.272727,1.581818,0.509091,3.700000,2.645455,25.481818
std,3.316625,14.935011,35.521824,5.188063,2.631522,5.881388,0.020697,1.273078,3.484198,0.012136,...,0.019526,0.214900,1.316883,1.475374,2.828459,0.360051,0.186840,1.462874,0.344568,9.055696
min,20.000000,31.000000,0.000000,22.900000,3.100000,7.600000,0.403000,1.200000,3.300000,0.347000,...,0.808000,0.500000,2.600000,3.100000,1.800000,1.000000,0.200000,1.300000,2.300000,9.900000
25%,22.500000,72.500000,18.000000,33.400000,6.250000,13.300000,0.438500,2.050000,5.450000,0.362500,...,0.846500,0.600000,3.750000,4.400000,4.750000,1.300000,0.350000,2.900000,2.400000,21.100000
50%,25.000000,78.000000,73.000000,36.800000,8.000000,18.100000,0.440000,2.600000,6.900000,0.368000,...,0.858000,0.800000,4.700000,5.400000,7.000000,1.700000,0.500000,4.000000,2.600000,27.400000
75%,27.500000,81.000000,79.500000,37.800000,8.850000,19.900000,0.450500,3.450000,9.650000,0.373500,...,0.867000,0.850000,5.050000,5.950000,7.500000,1.850000,0.700000,4.650000,2.750000,29.750000
max,30.000000,82.000000,82.000000,38.300000,11.100000,24.500000,0.491000,5.100000,13.800000,0.390000,...,0.879000,1.200000,7.000000,8.100000,11.200000,2.000000,0.700000,5.700000,3.400000,38.100000

Who's data is this? What if you put this with a bunch of other player's data, who is who?

### reading player plage for all player stats in a season
- copy and paste from https://www.basketball-reference.com/leagues/NBA_2020_advanced.html

In [114]:
df = pd.read_clipboard()

In [117]:
df['Rk'].value_counts()

Rk     23
95      3
138     3
418     1
13      1
       ..
77      1
289     1
437     1
335     1
448     1
Name: Rk, Length: 473, dtype: int64

In [122]:
df = df[df['Rk'] != 'Rk']

In [125]:
df[df['Rk'] == '95']

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,,OWS,DWS,WS,WS/48,.1,OBPM,DBPM,BPM,VORP
98,95,Jordan Clarkson,SG,27,TOT,30,687,18.7,.575,.488,.254,3.3,7.8,5.5,17.0,1.3,1.0,9.6,25.8,NaN,1.4,0.0,1.5,.102,NaN,3.3,-3.4,-0.2,0.3
99,95,Jordan Clarkson,SG,27,CLE,29,666,19.3,.581,.488,.264,3.4,8.1,5.7,17.5,1.2,1.0,9.7,25.8,NaN,1.5,0.0,1.5,.110,NaN,3.6,-3.4,0.2,0.4
100,95,Jordan Clarkson,G,27,UTA,1,21,0.2,.375,.500,.000,0.0,0.0,0.0,0.0,2.3,0.0,7.7,27.0,NaN,-0.1,0.0,-0.1,-0.165,NaN,-8.4,-4.8,-13.3,-0.1